{% extends "base.html" %}

{% block content %}
<section class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            {% for meal in meals %}
            <div class="col my-3 mt-5">
                <div class="card" style="">
                    <img src="{{meal.strMealThumb}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{meal.strMeal}}</h5>
                        <p class="card-text">{{meal.detailsMeal}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
{% endblock content %}
